.Track {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }
  
  .Item {
    display: inline-block;
    padding: 0 10px;
  }
  
  .Item img {
    max-height: 50px; /* 이미지 크기 조절 */
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  